.WorkoutItem {
width: 100%;
display: flex;
gap: 16px;
padding: 1vmin 0;
color: var(--text-light);
background-color: var(--white);
border-top: .1vmin solid var(--tan-3);
font-size: 1.5vw;
}

.WorkoutItem:last-child {
border-bottom: .1vmin solid var(--tan-3);
}

.WorkoutItem .qty {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.3vw;
}

.WorkoutItem .extPrice {
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 1.3vw;
}

.WorkoutItem button {
margin: 0;
height: 20px;
width: 20px;
}